/* Background général de la page */
body {
  background-color: #153683; /* Couleur de fond par défaut */
  background-image: radial-gradient(circle, #ffffff, #aff3fc, #153683); /* Dégradé du bleu pâle au bleu nuit */
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* Ajout d'un conteneur pour le logo */
.logo-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px; 
  max-height: 400px; 
  opacity: 0.5;
  pointer-events: none; 
}

/* L'image elle-même */
.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Style du titre "Select Your Character" */
#selection-header {
  padding: 20px;
  width: 60%;
  margin: 0 auto;
}

#character-selection-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0;
}

#character-selection-title h1 {
  font-size: 36px; 
  font-family: 'Arial', sans-serif; 
  text-align: center; 
  margin-bottom: 20px; 
  color: #007BFF; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
  background: linear-gradient(to right, #00BFFF, #1E90FF); 
  background-clip: text; 
  -webkit-background-clip: text; 
  color: transparent; 
}

/* Style for the character selection area */
#character-selection {
  display: grid; 
  grid-template-columns: repeat(5, 1fr); 
  gap: 10px; 
  justify-content: center; 
  margin: 0 auto; 
  padding: 20px; 
  max-width: 60%; 
  background-color: #a2f4ffa2;
  border-radius: 15px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

/* Style for each character image */
.character {
  position: relative; 
  width: 100%; 
}

.character img {
  width: 100%; 
  height: 100%; 
  max-width: 150px; 
  max-height: 150px; 
  object-fit: contain; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s; 
  display: block; 
  margin: 0 auto; 
  will-change: transform; 
}

.character-name {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  background-color: rgba(175, 243, 252, 1); 
  color: rgb(0, 0, 108); 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 5px; 
  text-align: center; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

/* Media Queries pour écran de taille moyenne (tablettes) */
@media only screen and (max-width: 900px) {
  #character-selection {
      grid-template-columns: repeat(3, 1fr); /* 3 colonnes sur écran moyen */
  }
}

/* Media Queries pour mobile (une seule colonne) */
@media only screen and (max-width: 600px) {
  #character-selection {
      grid-template-columns: 1fr; /* 1 seule colonne sur petit écran */
  }

  .character {
      margin-bottom: 10px; /* Espace supplémentaire entre les éléments */
  }

  .logo-container {
     max-width: 300px; 
     max-height: 300px;
 }
}

/* Hover effect for the character images */
.character:hover .character-name {
  opacity: 1; /* Affiche le texte lors du survol */
}

.character:hover img {
  transform: scale(1.1); /* Agrandit l'image de 10% lors du survol */
}

/* Animation de fondu en entrée et en sortie */
.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

/* Position de base de Character 26 */
.character-26 {
  position: relative;
  width: 100%;
  text-align: center;
}

/* Image de base */
.character-26 img.character-26-base {
  width: 100%; 
  height: 100%; 
  max-width: 150px; 
  max-height: 150px; 
  object-fit: contain; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s; 
  display: block; 
  margin: 0 auto; 
  will-change: transform; 
}

/* Conteneur des images alternatives (Satoshi & Hikari) */
.character-26-hover {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 150px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Images de sélection (Satoshi & Hikari) */
.character-26-hover img {
  width: 48%;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

/* Effet de zoom au survol */
.character-26-hover img:hover {
  transform: scale(1.5);
}

/* Quand on passe la souris, les images apparaissent */
.character-26:hover .character-26-hover {
  opacity: 1;
}

/* On cache l’image de base quand l’animation est en cours */
.character-26:hover .character-26-base {
  opacity: 0.3;
}


/* Page de Confirmation */
#confirmation-page {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  min-height: 100vh;
  text-align: center;
  padding: 20px;
}

#confirmation-page h1 {
  font-size: 36px; 
  font-family: 'Arial', sans-serif; 
  text-align: center; 
  margin-bottom: 20px; 
  color: #007BFF; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
  background: linear-gradient(to right, #00BFFF, #1E90FF); 
  background-clip: text; 
  -webkit-background-clip: text; 
  color: transparent; 
}

.confirmation-image, .character-image {
  max-width: 300px; 
  max-height: 300px; 
  width: auto; 
  height: auto; 
  margin-bottom: 20px;
}

.confirmation-text {
  font-size: 2rem;
  margin-bottom: 50px;
  color: #005b96;
}

.confirmation-special {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 auto;
  max-width: 40%;
  color: #000547; 
  padding: 10px;
  border: 2px solid #0011ff;
  border-radius: 5px;
  background-color: #18c2ce9d;
}

.confirmation-quote {
  font-size: 2rem;
  font-style: italic;
  color: #000000;
  margin-bottom: 80px;
  margin-top: 80px;
}

.confirmation-buttons {
  display: flex;
  gap: 15px;
}

.confirmation-buttons button {
  padding: 15px 35px;
  font-size: 2rem;
  border: 5px solid #007bff;
  cursor: pointer;
}

button#confirm-button {
  padding: 15px 35px;
  font-size: 2rem;
  background-color: #3abcc5a4;; 
  color: #007bff;
  border-radius: 25px;  
  transition: background-color 0.3s, color 0.3s, padding 0.3s, font-size 0.3s; 
}

button#confirm-button:hover {
  background-color: #3abcc53f; 
  color: #007bff;
  padding: 16px 38px;
  font-size: 2.2rem;
}

button#back-button {
  padding: 15px 35px;
  font-size: 2rem;
  background-color: #3abcc5a4;
  color: #007bff; 
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s, padding 0.3s, font-size 0.3s; 
}

button#back-button:hover {
  background-color: #3abcc53f; 
  color: #007bff;
  padding: 16px 38px;
  font-size: 2.2rem;
}

@media only screen and (max-width: 600px) {
  .confirmation-text {
      font-size: 1.5rem;
  }

  .confirmation-special {
      font-size: 0.8rem;
      max-width: 90%;
      text-align:justify;
  }
  .confirmation-buttons button {
    font-size: 1rem;
  }
  
  button#confirm-button {
    font-size: 1rem;
    color: #003a77;
  }
  
  button#confirm-button:hover {
    font-size: 1.1rem;
    color: #003a77;
  }
  
  button#back-button {
    font-size: 1rem;
    color: #003a77;
  }
  
  button#back-button:hover {
    font-size: 1.1rem;
    color: #003a77;
  }
}


/* Page de Personnage */
/* Style du cadre */
#character-frame {
  border: 2px solid #3498db;
  border-radius: 15px;
  padding: 20px;
  width: 40%;
  margin: 0 auto;
  background-color: #b7fff3a6;
}

/* Image du personnage avec transition */
#character-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex: 1;
}

#character-header h1 {
  padding: 20px;
  font-size: 2rem;
  font-family: 'Arial', sans-serif;
  margin-bottom: 20px;
  color: #007BFF;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right, #00BFFF, #1E90FF);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#character-sheet {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex: 1;
}

.character-image {
  display: flex;
  justify-content: center;
  max-width: 300px; 
  max-height: 300px; 
  width: auto; 
  height: auto; 
  transition: transform 0.5s ease, opacity 0.5s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  border-radius: 5px;
}

/* Niveau du personnage */
.character-level {
  padding: 20px;
  margin-bottom: 40px;
  text-align: right;
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}

/* XP et bouton Add XP */
#character-sheet h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 20px;
}

#xp-add-button {
  background-color: #c5a03aa4;
  border: 2px solid #000000;
  color: #002042;
  border-radius: 12px;
  padding: 8px 16px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.3s;
}

#xp-add-button:hover {
  background-color: #c5a03a25; 
  color: #002042;
  padding: 9px 17px;
  font-size: 0.9rem;
}

/* Style pour la liste des caractéristiques */
.character-stats {
  margin-bottom: 20px; 
  list-style-type: none;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.character-special {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 auto;
  max-width: 30%;
  color: #000547; 
  padding: 10px;
  border: 2px solid #0011ff;
  border-radius: 5px;
  background-color: #18c2ce9d;
}

/* Style du bouton reset */
#reset-container {
  display: flex;
  justify-content: right;
  text-align: right;
  margin-right: 20px;
  margin-top: 20px;
}

#reset-button {
  display: flex;
  justify-content: right;
  background-color: #3abcc5a4;
  border: 2px solid #3498db;
  color: #000000;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

#reset-button:hover {
  background-color: #c53a3a59; 
  border: 2px solid #ff0000;
  color: #000000;
  padding: 11px 22px;
  font-size: 1.1rem;
}

@media only screen and (max-width: 600px) {
  #character-frame {
    width: 90%;
  }
  .character-image {
    max-width: 200px; 
    max-height: 200px; 
  }
 .character-level {
   font-size: 1.5rem;
 }
 #character-sheet h2 {
   font-size: 1rem;
 }
 #xp-add-button {
   font-size: 0.5rem;
 }
 #xp-add-button:hover {
   font-size: 0.6rem;
 }
 .character-stats {
   font-size: 1rem;
 }
}